// backgrounds
background = #e8eeef

// others
inputDarkGray = #454142

body
  background-color background
  color inputDarkGray
  font-family 'Open Sans', sans-serif
  header
    a
      padding 10px 20px
      text-decoration none
      color inputDarkGray
    a:hover
      background-color inputDarkGray
      color background


  main
    display flex
    flex-flow row
    align-items center
    justify-content center
    #loginBox
      display flex
      flex-flow column
      border 1px solid white
      padding 2em 2em
      align-content center
      input
        margin .3em 0


button
  margin 4px

.disabled
  opacity 0.5
  cursor initial

.pointer
  cursor pointer