// backgrounds
background = #e8eeef

// others
inputDarkGray = #454142
balanceGreen = #2a2
balanceRed = #a22

body
  background-color background
  color inputDarkGray
  font-family 'Open Sans', sans-serif
  header
    a
      padding 10px 20px
      text-decoration none
      color inputDarkGray
    a:hover
      background-color inputDarkGray
      color background

  main
    display flex
    flex-flow row
    align-items center
    justify-content center
    #loginBox
      display flex
      flex-flow column
      border 1px solid white
      padding 2em 2em
      align-content center
      input
        margin .3em 0
    #accountHolder
      width 100%
      display flex
      flex-flow row
      #accList
        display flex
        flex-flow column
        flex 0 0 300px
        h5
          margin .1em
          padding .3em
          display flex
          flex-flow row
          justify-content space-between
        h5:not(.selected)
          color #9da0a4
          span
            color #9da0a4
        .selected
          border 1px solid #aaa
          border-radius .2em
          background-color white
      #accData
        flex 1 1 auto;
        margin 0 0 0 .5em
        #accDetails
          display flex
          flex-flow column
          .expense
            display flex
            flex-flow row
            justify-content space-between
        #graph
          svg
            width 100%
            height auto
button
  margin 4px

.disabled
  opacity 0.5
  cursor initial

.pointer
  cursor pointer

.green
  font-weight bold
  color balanceGreen
.red
  font-weight bold
  color balanceRed
